* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--teal-green-dark);
  color: var(--pearl-bush);
}

:root {
  --blue: #34b7f1;
  --teal-green: #128c7e;
  --light-green: #25d366;
  --teal-green-dark: #075e54;
  --pearl-bush: #ece5dd;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-container {
  background-color: var(--teal-green);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-title {
  color: var(--pearl-bush);
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-email,
.login-password {
  margin-bottom: 15px;
}

.login-email label,
.login-password label {
  color: var(--pearl-bush);
}

.login-email input,
.login-password input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login-button {
  background-color: var(--light-green);
  color: var(--pearl-bush);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-loading-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login-button:hover {
  background-color: var(--blue);
}

.login-register {
  margin-top: 10px;
  color: var(--pearl-bush);
  text-align: center;
}

.register-link {
  color: var(--pearl-bush);
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form-container {
  background-color: var(--teal-green);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register-title {
  color: var(--pearl-bush);
  text-align: center;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-username,
.register-email,
.register-password {
  margin-bottom: 15px;
}

.register-username label,
.register-email label,
.register-password label {
  color: var(--pearl-bush);
}

.register-username input,
.register-email input,
.register-password input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.register-button {
  background-color: var(--light-green);
  color: var(--pearl-bush);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-loading-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.register-button:hover {
  background-color: var(--blue);
}

/* chat page */

.chat-container {
  display: flex;
  height: 100vh;
  padding-top: 10px;
  padding-right: 10px;
}

.user-list {
  width: 200px;
  background-color: var(--teal-green-dark);
  color: var(--pearl-bush);
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.user-list-title {
  border-bottom: 1px solid var(--pearl-bush);
  text-align: center;
  margin-bottom: 10px;
}

.chat-area {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  background-color: var(--teal-green);
  color: var(--pearl-bush);
  padding: 20px;
  overflow-y: auto;
}

.input-area {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--teal-green-dark);
}

.message-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  resize: none;
}

.send-button {
  background-color: var(--light-green);
  color: var(--pearl-bush);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.send-button-loading {
  background-color: grey;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.send-button:hover {
  background-color: var(--teal-green);
}

.chat-username {
  cursor: pointer;
  color: var(--pearl-bush);
  padding: 5px;
  list-style-type: none;
}

.chat-username.selected-user {
  background-color: var(--teal-green);
  border-radius: 5px;
}

.welcome-message {
  color: var(--teal-green-dark);
  padding: 5px;
  background-color: var(--light-green);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* CSS for sent messages */
.message.sent {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.message.sent .message-text {
  background-color: #007bff; /* Blue background for sent messages */
  color: white;
  padding: 10px;
  border-radius: 10px;
}

/* CSS for received messages */
.message.received {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.message.received .message-text {
  background-color: #f0f0f0; /* Light gray background for received messages */
  color: black;
  padding: 10px;
  border-radius: 10px;
}
.chat-users-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-users {
  flex: 1;
  flex-basis: 50%;
  overflow-y: auto;
}
.chat-logout-button {
  margin-bottom: 20px;
  background-color: var(--light-green);
  color: var(--teal-green-dark);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.new-chat-button {
  margin-bottom: 20px;
  background-color: var(--light-green);
  color: var(--teal-green-dark);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.new-chat-button-container {
  border-top: 1px solid var(--pearl-bush);
  padding-top: 10px;
}

.add-chat-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.add-chat-box {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: var(--teal-green-dark);
  border-radius: 10px;
  box-shadow: 0 0 10 black;
  padding: 10px;
}

.add-chat-header {
  display: flex;
  justify-content: end;
}

.close-button {
  color: var(--pearl-bush);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.add-chat-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.new-chat-title h2 {
  text-align: center;
  border-bottom: 1px solid var(--pearl-bush);
  padding-bottom: 5px;
}

.add-chat-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.add-chat-inputs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  width: 280px;
}

.add-chat-inputs button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--pearl-bush);
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  width: 90px;
}

.add-chat-inputs button:active {
  transform: scale(0.95);
}

.add-search-by-email,
.add-search-by-username {
  margin-top: 15px;
  width: 100%;
}

.add-search-results {
  overflow-y: auto;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.add-search-results p {
  text-align: center;
}

.user-result-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.user-result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  border: 1px solid rgba(0, 0, 0, 0);
}

.user-result-item span {
  color: var(--pearl-bush);
  font-weight: bold;
  font-size: 20px;
}

.result-new-chat-button {
  padding: 5px 10px;
  background-color: var(--light-green);
  color: var(--teal-green-dark);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.result-open-chat-button {
  padding: 5px 10px;
  background-color: var(--light-green);
  color: var(--teal-green-dark);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-loading-button {
  background: grey !important;
}
.search-loading-button:active {
  transform: none !important;
}
.new-chat-loading-button {
  width: 50px;
  height: 25px;
  background-color: grey;
  border: none;
  border-radius: 5px;
}
